@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,200;1,600&display=swap');
*
{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    /* color: #292922; */
    box-sizing: border-box;
}
header{
    display: grid;
    align-items: center;
}
@media(max-width:500px)
{
    .container{width: 500px;}
    .main-box .p
    {
        padding: 0px 15px;
    }
    .navbar-collapse .right-menu
    {
        position: relative;
        left: 370px;
    }
    .navbar-collapse .fas
    {
        display: block;
        cursor: pointer;
    }
    .navbar-collapse .navbar-nav
    {
        display: none;
    }
    .ham-menu-disp
    { 
        display: block; 
    }
    .main-box .gap
    {
        padding: 0;
        margin-top: 48px;
    }
    .row
    {
        display:flex;
        flex-direction: column;
    }
    .row .content
    {
        max-width:50%;
        margin: 0 auto;
        text-align: left;
    }
    .row .img{
        max-width:50%;
        margin: 0 auto;
    }
    .img-fluid
    {
        width: 100%;
        height: auto;
    }
    .row1
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .row1 .information
    {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
    }
    .row3 .box
    {
        flex: 0 0 90%;
        width: 33.3333%;
    }
    .footer-subscriber .main-row
    {
        display: block;
    }
    .footer-subscriber .main-row .main-row1
    {
        width: 100%;
        margin-top: 20px;
    }
    
    .photoflashfooter .footer-list2 .row1
    {
        justify-content: start;
    }
    .photoflashfooter .footer-list2 .row1 .footer-list
    {
        padding: 0 60px 48px 20px;
    }
}
@media(max-width:1100px)
{
    .container{width:1080px;}
    .row3 .box
    {
        flex: 0 0 33.3333%;
        width: 33.3333%;
    }
    /* .ham-menu-disp{ display: none; } */
}
@media(max-width:900px)
{
    .container
    {
        width: 900px;
    }
    .main-box .p
    {
        padding: 0px 15px;
    }
    .navbar-collapse .right-menu
    {
        position: relative;
        left: 370px;
    }
    .navbar-collapse .fas
    {
        display: block;
        cursor: pointer;
    }
    .navbar-collapse .navbar-nav
    {
        display: none;
    }
    .ham-menu-disp
    { 
        display: block; 
        position: relative;
        left: 35%;
        cursor: pointer;
    }
    .main-box .gap
    {
        padding: 0;
        margin-top: 48px;
    }
    .row
    {
        display:flex;
        flex-direction: column;
    }
    .row .content
    {
        max-width:80%;
        margin: 0 auto;
        text-align: left;
    }
    .row .img{
        max-width:80%;
        margin: 15px auto;
    }
    .img-fluid
    {
        width: 100%;
        height: auto;
    }
    .row1
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .row1 .information
    {
        width: 50%;
        height: auto;
        margin-top: 20px;
    }
    .row3 .box
    {
        flex: 0 0 50%;
        width: 33.3333%;
    }
    .footer-subscriber .main-row
    {
        display: block;
    }
    .footer-subscriber .main-row .main-row1
    {
        width: 100%;
        margin-top: 20px;
    }
    .photoflashfooter
    {
        flex-direction: column;
    }

}
@media(max-width:700px)
{
    .container{width: 700px;}
    .main-box .p
    {
        padding: 0px 15px;
    }
    .navbar-collapse .right-menu
    {
        position: relative;
        left: 370px;
    }
    .navbar-collapse .fas
    {
        display: block;
        cursor: pointer;
    }
    .navbar-collapse .navbar-nav
    {
        display: none;
    }
    .ham-menu-disp
    { 
        display: block; 
    }
    .main-box .gap
    {
        padding: 0;
        margin-top: 48px;
    }
    .row
    {
        display: block;
    }
    .row
    {
        display:flex;
        flex-direction: column;
    }
    .row .content
    {
        max-width:60%;
        margin: 0 auto;
        text-align: left;
    }
    .row .img{
        max-width:60%;
        margin: 0 auto;
    }
    .img-fluid
    {
        width: 100%;
        height: auto;
    }
    .row1
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }
    .row1 .information
    {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
    }
    .row3 .box
    {
        flex: 0 0 80%;
        width: 33.3333%;
    }
    
    .footer-subscriber .main-row
    {
        display: block;
    }
    .footer-subscriber .main-row .main-row1
    {
        width: 100%;
        margin-top: 20px;
    }
    
    .photoflashfooter .footer-list2 .row1
    {
        justify-content: start;
    }
    .photoflashfooter .footer-list2 .row1 .footer-list
    {
        padding: 0 60px 48px 20px;
    }
}


.ham-menu-disp{ display: none; }
.fix-btn
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background: #f71735;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
.main-head
{
    padding: 0;
    background: white;
    /* border: 1px solid black; */
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
}
.container
{
    /* border: 1px solid black; */
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.pt
{
    position: relative;
    top: 10px;
}
.navbar
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    /* border: 1px solid black; */
}
h1,h2,h3,h4,h5,h6
{
    color: #292922;
    margin: 0;
    padding: 0;
}
.navbar h1 a
{
    text-decoration: none;
}
.navbar-brand
{
    display: inline-block;
    white-space: nowrap;
}
.navbar-brand .sub-spl
{
    display: inline-block;
    color: #f71735;
}
.navbar .navbar-brand
{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #292922;
}
.navbar-collapse
{
    display: flex;
    /* border: 1px solid black; */
    width:979px;
    height: 54px;
    flex-grow: 1;
    flex-basis:auto;
    align-items: center;
}
/* .navbar-collapse .fas
{
    display: none;
} */
.ham-menu-disp{ display: none; }
.navbar-nav
{
    display:inline-block;
    padding-left: 0;
    margin-bottom:0;
    list-style: none;
    margin-left: 10%;
    z-index: 10;
}
.navbar-nav .nav-item
{
    position: relative;
    transition: all 0.5s ease;
    padding: 0 10px;
    outline: none;
    display: inline-block;
    /* border: 2px solid black; */
}
.navbar-nav .nav-item .nav-link
{
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    display: block;
    color: #292922;
    cursor: pointer;
    text-decoration: none;
}
.navbar-nav .nav-item .nav-link:hover
{
    color: #f71735;
}
.navbar-nav .nav-item .active
{
    color: #f71735;
}
.nav-link .fas
{
    font-weight: 600;
    padding-left: 2px;
    font-size: 14px;
    color: #292922;
    display: inline-block;
} 
.nav-link::after
{
    background: none repeat scroll 0 0 transparent;
    /* bottom: 0; */
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f71735;
    transition: width 0.3s ease , left 0.3s ease ;
    width: 0;
}
.nav-link:hover::after
{
    width: 100%;
    left: 0;
}
.dropdown-menu
{

    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
    min-width: 13rem;
    padding: 1rem 0.3rem;
    position: absolute;
    /* left: 0; */
    /* z-index: 100; */
    /* text-align: left; */
    transform: translate(-30%);
    display: none;  
}
 .dropdown-menu .dropdown-item
{
    font-size: 18px;
    position: relative;
    text-decoration: none;
    color: #696969;
    display: block;
    padding-top:10px;
}
.dropdown:hover .dropdown-menu
{
    display: block;
}
.dropdown-item::after
{
    background: none repeat scroll 0 0 transparent;
    /* bottom: 0; */
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f71735;
    transition: width 0.3s ease , left 0.3s ease ;
    width: 0;
}
.dropdown-item:hover::after
{
    width: 50%;
    left: 0;
}
.right-menu
{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    position: relative;
    left: 20%;
    width: 330px;
}
.search-btn .fas
{
    /* border:1px solid black; */
    display: block;
    padding: 15px 15px;
    border-radius: 50%;
    background: rgba(202, 198, 198, 0.2);
    transition: all 0.5s ease-in-out;
}
.search-btn .fas:hover
{
    color: white;
    background: #f71735;
}
.right-menu .btn
{
    /* border: 2px solid black; */
    position: relative;
    left: 15%;
}
.btn button
{
    height: 50px;
    width: 170px;
    background: #f71735;
    color: white;
    font-weight: 700;
    border: none;
    border-radius:5px;
    font-size: 16px;
    cursor: pointer;
}
.btn button:hover
{
    background: #ee0b29;
}
.right-menu .moon
{
    position: relative;
    left: 20%;
}
.right-menu .moon .far
{
    cursor: pointer;
    border-radius: 50%;
    color: darkslategray;
    padding: 10px;
}
/* ######################### photo ################# */
section
{
    display: block;
}
.heading
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
    margin-top: 90px;
    display: block;
}
.title
{
    display: inline-flex;
    padding: 20px 0;
}
.title li
{
    list-style: none;
    padding: 10px;
}
.title li a
{
    color:#292922;
    text-decoration: none;
}
.main-box
{
    /* border: 1px solid black; */
    background:#f7f7f7;
}
.gap
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.p
{
    padding: 48px 15px;
}
.row
{
    display: flex;
}
.img
{
    padding-right:48px;
    padding-left: 15px;
    max-width: 50%;
    flex: 0 0 50%;
}
.img-fluid
{
    width: 100%;
    height: auto;
}
.content
{
    /* max-width: 50%; */
    width: 100%;
    flex: 0 0 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    align-self: center;
    top: 0;
    right:0;
    /* border: 1px solid black; */
}
.content .title-first
{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #7e7d7d;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}

.content .title-second
{
    font-size: 38px;
    line-height: 46px;
    font-weight: 600;
    max-width: 570px;
    /* margin: auto; */
}
.content .para
{
    margin-top: 16px;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #696969;
}
.readmore
{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transform: all 0.5s ease-in;
    border-radius: 10px;
    /* border: 1px solid black; */
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    color: white;
    background: #f71735;
}
.readmore:hover
{
    background: #f80b2b;
}
/* ######################## Count ########################### */
.gallary-inner
{
    padding: 48px 15px;
}
.row1
{
    display: flex;
    justify-content: space-around;
    margin-right: -15px;
    margin-left: -15px;
}
.information
{
    padding: 0 30px;
    text-align: center;
}
.counter
{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color:#f71735;
    margin: 0 0 10px;
}
/* ####################### middle Image ############## */
.middle
{
    background-image: url(../img/banner.jpg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
}
.middle::before
{
    content: '';
    background: rgba(0,0,0,0.65);
    position:absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index:-1;
}
.welcome-left
{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
.welcome-left h3
{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
}
.mb-4
{
    margin-bottom: 24px;
}
.middle p
{
    margin-top: 10px;
    font-weight: 600;
    color: #ddd;
}
.team-main
{
    text-align:center;
    display: block;
    position: relative;
    color: #fff;
}
.title-subhny
{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.hny-title
{
    font-size: 38px;
    line-height: 46px;
    font-weight: 600;
    max-width: 570px;
    margin: auto;
}
.row3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
}
.box
{
    width: 350px;
    background: white;
    overflow: hidden;
    position: relative;
    padding: 15px 15px;
}
.box img
{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.box .box-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .box-content::before,
.box .box-content::after
{
    content: '';
    width: 85%;
    height: 43%;
    background: #f71735;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;
    transform: rotate(-30deg);
}

.box .box-content::before
{
    top:-20%;
}
.box .box-content::after
{
    bottom:-20%;
}
.box:hover .box-content::before
{
    top:7%;
    opacity: 0.5;
    transform: rotate(0deg);
    
}
.box:hover .box-content::after
{
    bottom:7%;
    opacity: 0.5;
    transform: rotate(0deg);
}
.box .content
{
    width: 100%;
    height: 45%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.5s;
}
.box .social
{
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}
.box .social li
{
    display: inline-block;
    margin-right: 10px;
}
.box .social li a
{
    color: black;
    background: white;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s;
}
.box .title
{
    color: white;
    font-size: 22px;
}
.box:hover .content
{
    opacity: 1;
    transform: rotate(0deg);
}
.box .social li a .fab:hover
{
    color:#f71735 ;
}
.box .social li a:hover
{
    transform: scale(1.2);
}
/* ###################### footer ########################## */
.footer
{
    background: #010813;
    padding-top: 48px;
    padding-bottom: 48px;
    display: block;
}
.p1
{
    padding: 16px;
}
.footer .footer-subscriber
{
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    border: 1px solid rgba(221,221,221,0.2);
    padding:24px;
}
.footer .container-fluid
{
    padding: 16px;
}
.main-row
{
    display: flex;
    flex-wrap: wrap;
}
.main-row1
{
    padding: 0 15px;
    width: 50%;
}
.main-row .main-row1 .title-head
{
    font-size: 30px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}
.main-row .main-row1 p
{
    font-size: 16px;
    line-height: 20px;
    color: #696969;
    margin-bottom: 0;
    font-weight: 600;
}
.main-row .main-row1 .rightside-form
{
    display: flex;
}
.main-row .main-row1 input
{
    background:#fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 18px;
    color: #777777;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    height: 60px;
    display: block;
}
.main-row .main-row1 button
{
    background: #f71735;
    border: none;
    color: #fff;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    cursor: pointer;
}
.photoflashfooter
{
    display: flex;
    flex-wrap: wrap;
}
.photoflashfooter .footer-list1
{
    margin-top: 48px;
    padding-left: 15px;
    padding-right: 48px;
    /* width: 50%; */
    flex:0 0 50%;
}
.footer-title
{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}
.photoflashfooter .footer-list1 p
{
    padding-right: 48px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #696969;
}
.main-social-icon
{
    margin-top: 16px;
}
.main-social-icon .social-icon
{
    margin-top: 3px;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.main-social-icon .social-icon li
{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}
.main-social-icon .social-icon li a
{
    font-size: 16px;
    background: white;
    color: #f71735;
    width: 36px;
    text-align: center;
    height: 36px;
    border-radius: 50%;
    transition:all 0.3s;
    display: block;
    line-height: 36px;
}   
.main-social-icon .social-icon li a:hover
{
    background: #f71735;
    color: #fff;
}
.photoflashfooter .footer-list2
{
    margin-top: 48px;
    padding:0px 15px;
    /* width: 50%; */
    flex:0 0 50%;
}
.footer-list2 ul li 
{
    list-style: none;
    line-height: 30px;
}
.footer-list2 ul li a
{
    text-decoration: none;
    color:#696969;
}
.footer-list2 ul li a:hover
{
    color: #fff;
}
.midd-footer
{
    padding: 15px 0;
    margin-top: 48px;
    align-self: center;
    border-top: 1px solid rgba(221,221,221,0.2);
}
.rights
{
    color: #696969;
    text-align: center;
}
.rights span
{
    color: #fff;
    font-size: 17px;
}
.rights span:hover
{
    color: #f71735;
    cursor: pointer;
}